@charset "UTF-8";
.nav-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3f0d12;
  background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
  padding: 20px 20px 0;
}
.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  font-family: "Conv_Inconsolata-VariableFont_wdth";
}
.nav-link:hover {
  color: #a89e9e;
}

.active {
  color: #070202;
}

.post {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  max-width: 55%;
  border-radius: 10px;
  padding: 2px 10px;
  box-shadow: 2px 0px 48px 11px rgba(82, 78, 78, 0.6) inset;
}
@media (max-width: 475px) {
  .post {
    max-width: 100%;
  }
}
.post__heading {
  font-family: "Acme";
  font-size: calc(14px + 6 * ((100vw - 320px) / 1120));
  display: inherit;
  align-items: center;
}
.post__heading--photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.post__heading--info {
  margin-left: 10px;
}
.post__heading--content {
  font-family: "AdventPro";
  letter-spacing: 2px;
}
.post__heading--personal-info {
  display: flex;
  align-items: baseline;
  position: relative;
}
.post__heading--personal-info-check {
  position: relative;
  margin-right: 20px;
}
.post__heading--personal-info-check::after {
  content: "";
  position: absolute;
  background-size: contain;
  width: 17px;
  height: 17px;
  top: 3px;
  right: -18px;
  background-image: url(../img/icons/check.svg);
}
.post__heading--personal-info p + p {
  margin: 0 5px;
}
.post__body {
  width: 100%;
  margin: 2px 0;
}
.post__body--content {
  width: 100%;
  border-radius: 20px;
}
.post__footer {
  display: flex;
  justify-content: space-around;
  color: #111;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1120));
}
.post__footer--comments {
  position: relative;
}
.post__footer--comments::before {
  content: "";
  position: absolute;
  background-size: contain;
  width: 17px;
  height: 17px;
  top: 1px;
  left: -18px;
  background-image: url(../img/icons/comments.svg);
}
.post__footer--likes {
  position: relative;
}
.post__footer--likes::before {
  content: "";
  position: absolute;
  background-size: contain;
  width: 17px;
  height: 17px;
  top: 1px;
  left: -18px;
}
.post__footer--share {
  position: relative;
}
.post__footer--share::before {
  content: "";
  position: absolute;
  background-size: contain;
  width: 17px;
  height: 17px;
  top: 1px;
  left: -18px;
  background-image: url(../img/icons/share.svg);
}
.post__footer--cloud {
  position: relative;
}
.post__footer--cloud::before {
  content: "";
  position: absolute;
  background-size: contain;
  width: 17px;
  height: 17px;
  top: 1px;
  left: -18px;
  background-image: url(../img/icons/cloud.svg);
}

.unlike::before {
  background-image: url(../img/icons/like.svg);
}

.liked::before {
  background-image: url(../img/icons/liked.svg);
}

.nickname {
  font-size: calc(12px + 4 * ((100vw - 320px) / 1120));
  color: #5c5c5c;
}

.date {
  font-size: calc(13px + 5 * ((100vw - 320px) / 1120));
  color: #363636;
}

.post-action {
  cursor: pointer;
  font-family: "AdventPro";
  letter-spacing: 1px;
}
.post-action:hover {
  font-weight: 700;
}
.active-action {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
}

.search-place {
  display: flex;
  justify-content: flex-end;
}
.search-place input {
  height: 20px;
  width: 100px;
}
.search-place input:focus {
  box-shadow: 5px 5px 15px 5px #b80808;
}

.contact {
  display: flex;
  background-color: #b1b1b1;
  justify-content: space-evenly;
  padding: 10px;
  align-items: center;
}
.contact-info {
  margin-left: 10px;
}

.femaleSign {
  position: relative;
}
.femaleSign img {
  width: 100px;
}
.femaleSign::before {
  background-image: url("../img/gender/female.svg");
  content: "";
  position: absolute;
  background-image: url("../img/gender/female.svg");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  left: 75px;
}

.maleSign {
  position: relative;
}
.maleSign img {
  width: 100px;
}
.maleSign::before {
  content: "";
  position: absolute;
  background-image: url("../img/gender/female.svg");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  left: 75px;
  background-image: url("../img/gender/male.svg");
}

.otherSign {
  position: relative;
}
.otherSign img {
  width: 100px;
}
.otherSign::before {
  content: "";
  position: absolute;
  background-image: url("../img/gender/female.svg");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  left: 75px;
  background-image: url("../img/gender/other.svg");
}

details {
  border: 1px solid black;
  width: 100%;
  margin: 2px;
  cursor: pointer;
}
@media (max-width: 630px) {
  details {
    width: 50%;
  }
}
@media (max-width: 425px) {
  details {
    width: 80%;
  }
}

details summary::-webkit-details-marker {
  display: none;
}

details > summary {
  list-style: none;
}

details summary:before {
  content: "📞";
  margin-right: 7px;
}

details[open] summary:before {
  content: "📖";
}

summary {
  background-image: linear-gradient(90deg, #ff74ca 24.3%, #8b0074 78.3%);
  padding: 10px;
}
summary:focus {
  outline: none;
  border: none;
}

details[open] summary {
  background-image: linear-gradient(-90deg, #ff74ca 24.3%, #8b0074 78.3%);
}

.contact-title {
  font-family: "Cormorant Infant", serif;
  font-size: calc(14px + 8 * ((100vw - 320px) / 1120));
  font-weight: 900;
}

.contact-info-header {
  font-size: calc(10px + 2 * ((100vw - 320px) / 1120));
  color: #302525;
  font-family: "Montserrat Alternates", sans-serif;
  text-decoration: none;
}
.contact-info-header span {
  font-size: calc(12px + 4 * ((100vw - 320px) / 1120));
  color: #181212;
}

.contact__block {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  border: 2px dashed #dd2929d2;
  border-radius: 20px;
}
.contact__main {
  display: flex;
  align-items: center;
}
.contact__avatar {
  width: 180px;
}
.contact__info {
  margin-left: 50px;
}
.contact__describe {
  margin-top: 10px;
  font-family: "Conv_Inconsolata-VariableFont_wdth";
  letter-spacing: 1px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.icon {
  height: 60px;
}

.no-contacts {
  font-size: calc(14px + 6 * ((100vw - 320px) / 1120));
  font-weight: 600;
  font-family: "Kaushan Script", cursive;
}

.MuiTypography-body1 {
  font-size: calc(12px + 4 * ((100vw - 320px) / 1120));
}

@media (max-width: 630px) {
  .PrivateSwitchBase-root-1 {
    padding: 0px;
  }
}

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-size: cover;
  background: linear-gradient(90deg, rgba(180, 180, 180, 0.3) 0%, rgba(238, 233, 233, 0.43) 0%), url("../img/bg.jpg");
}

.sign {
  font-family: "Conv_SirinStencil-Regular";
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 52px;
  color: #ffe6ff;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%, 22%, 36%, 75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #790000, -0.2rem 0.1rem 1rem #790000, 0.2rem 0.1rem 1rem #790000, 0 -0.5rem 2rem #f30a0a, 0 0.5rem 3rem #f30a0a;
  }
}
@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  28%, 33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%, 97% {
    color: #ff2483;
    text-shadow: none;
  }
}
.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite 100%;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #790000, -0.2rem 0.1rem 1rem #790000, 0.2rem 0.1rem 1rem #790000, 0 -0.5rem 2rem #f30a0a, 0 0.5rem 3rem #f30a0a;
}

@keyframes flicker {
  from {
    opacity: 1;
  }
  4% {
    opacity: 0.9;
  }
  6% {
    opacity: 0.85;
  }
  8% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  11% {
    opacity: 0.922;
  }
  12% {
    opacity: 0.9;
  }
  14% {
    opacity: 0.95;
  }
  16% {
    opacity: 0.98;
  }
  17% {
    opacity: 0.9;
  }
  19% {
    opacity: 0.93;
  }
  20% {
    opacity: 0.99;
  }
  24% {
    opacity: 1;
  }
  26% {
    opacity: 0.94;
  }
  28% {
    opacity: 0.98;
  }
  37% {
    opacity: 0.93;
  }
  38% {
    opacity: 0.5;
  }
  39% {
    opacity: 0.96;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0.97;
  }
  46% {
    opacity: 0.94;
  }
  56% {
    opacity: 0.9;
  }
  58% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.99;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  72% {
    opacity: 0.95;
  }
  93% {
    opacity: 0.93;
  }
  95% {
    opacity: 0.95;
  }
  97% {
    opacity: 0.93;
  }
  to {
    opacity: 1;
  }
}
.just-me {
  font-family: "Conv_Inconsolata-VariableFont_wdth";
  font-size: 22px;
  color: #ffe6ff;
  margin-left: 10px;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #790000, -0.2rem 0.1rem 1rem #790000, 0.2rem 0.1rem 1rem #790000, 0 -0.5rem 2rem #f30a0a, 0 0.5rem 3rem #f30a0a;
}

.messenger {
  width: 300px;
  max-height: 450px;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.top {
  display: flex;
  align-items: center;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.596);
  background-color: #fdebeb;
  z-index: 9;
  cursor: pointer;
}

.photo {
  margin: 10px 20px;
  border-radius: 50%;
}
.photo img {
  height: 40px;
  width: 40px;
}

h2 {
  margin: 0;
  font-size: 18px;
  font-family: "Montserrat Alternates", sans-serif;
}

.messages-container {
  height: 350px;
  background-color: #f01d6a;
  background-image: linear-gradient(#005fff 0%, #9200ff 50%, #ff2e19 100%);
  flex: 1;
  overflow-y: scroll;
}
.messages-container > div {
  border: 1px solid #FFF;
  border-left-width: 20px;
  display: flex;
  overflow: hidden;
}
.messages-container > div:first-child {
  border-top-width: 20px;
}
.messages-container > div:last-child {
  border-bottom-width: 20px;
}
.messages-container .left {
  background-color: #EEE;
  color: #000;
  font-family: "Conv_IndieFlower-Regular";
}
.messages-container .right {
  flex-direction: row-reverse;
  border-left-width: initial;
  border-right-width: 20px;
  color: #FFF;
  font-family: "Conv_IndieFlower-Regular";
}

.left + .right, .right + .left {
  border-top-width: 10px;
}

.messages-container > div div:first-child {
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 180px;
  z-index: 4;
  position: relative;
  font-size: 14px;
}
.messages-container > div div:before {
  content: "";
  display: block;
  border: 30px solid #FFF;
  position: absolute;
  top: -30px;
  right: -30px;
  left: -30px;
  bottom: -30px;
  border-radius: 55px;
  z-index: 2;
}
.messages-container > div div:last-child {
  flex: 1 1 0%;
  background-color: #FFF;
}

.inp-chat {
  padding: 15px 5px;
  width: 100%;
  border: 0;
  border-top: 1px solid #EEE;
}

.secret {
  background: #111;
}
.secret:hover {
  background: #fff8f8;
}

body {
  margin: 0;
  background-color: #cea0a070;
  height: 100%;
}

div#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

.wrapper {
  display: flex;
  flex: 1 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

footer {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #161515;
  color: white;
  font-size: 32p;
  font-weight: bold;
  height: 10%;
}

.back-link {
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
}